body{
    margin: 0;
    padding: 0;
}
.header {
    background: white;
    border-bottom: 1px solid lightgray; /*영역 아래에 선 생성*/
}
.container {
    width: 980px;
    margin: auto;
}
.container-left{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    float: left;
    margin-right: 5px;
}
.logo img{
    display: block;
}
.menu{
    float: left;
}
.menu-item{
    float: left;
    /* margin-right: 10px; */
    padding: 8px 10px; /*상하는 8px, 좌우는 10px의 padding을 넣은 것임 */
}
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}
